@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;

    /* background-color: rgb(179, 32, 32); */
}
.active {
    color: rgba(94, 255, 0);
    text-shadow: 2px 2px 5px #000000, -2px -2px 5px #000000;
}

li, a, p, button {
    font-weight: 400;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

body>header{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 10px 2%;
}

body>header p{
    color: rgb(255, 255, 255);
    font-weight: 550;
}

body>header ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 10px 2%;
}

body>header ul li{
    margin-left: 20px;
    align-items: center;
}

body>header ul .SignUp {
    color: rgb(46, 125, 0);
    background-color: rgb(255, 255, 255);

}

body>header ul .profileButton {
    width: 70px;
    height: auto;
}

body>header ul li:hover {
    /* background-color: rgba(48, 184, 42, 0.8); */
    opacity: .5;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 10px 5%;
    /* padding: 10px 35% 10px 5%; */
    border-bottom: 7px solid #30B82A;
}

.logo {
    cursor: pointer;
    width: 45%;
}
nav div {
    display: flex;
    flex-direction: column;
    align-items: center;


}
nav div p {
    padding: 5px 10%;
    margin: 0;
    font-weight: 600;
    font-size: 30px;
}

nav ul {
    /* display: flex; */
    /* background-color: aliceblue; */
    list-style: none;
    /* padding-right: 20%; */
    
    /* margin-right: 25%; */
}

nav ul li {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 40px;

}
nav ul li:hover {
    transform: scale(1.05);
}

nav ul li a {
    font-size: 24px;
}

button {
    font-weight: 600;
    padding: 9px 25px;
    background-color: rgba(48, 184, 42);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.popUp {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.popUp * {
    margin-top: 2em;
}
.popUp > div {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
}

.popUp form > select {
    /*appearance: none;*/
    background-color: transparent;
    outline: 3px dashed #03A887;
    outline-offset: 0px;
    border: none;
    border-radius: 40px 0px 0px 40px;
    text-align: center;
    width: 50%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    padding: 0.25em 0.5em;

    /*font-size: 1.25rem;*/
}

.popUp form > input {
    appearance: none;
    background-color: transparent;
    outline: 3px dashed #03A887;
    outline-offset: 0px;
    border-radius: 40px 0px 0px 40px;
    text-align: center;
    font-family: inherit;
    cursor: inherit;
    line-height: inherit;
    padding: 0.25em 0.5em;

    /*font-size: 1.25rem;*/
}

@media (max-width: 800px) {
    body>header ul{
        flex-direction: column;
        text-align: center;
    }
    body>header li {
        margin-bottom: 10px;

    }
}

@media (min-width: 801px) {
    body>header ul{
        flex-direction: row;
    }
}

.footer-dark {
    margin-bottom: 0px;
    text-align:center;
    padding:50px 0;
    color:white;
    background-color:#282d32;
    opacity: 75%;
    /*text-align: center;*/
}

.footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}

.footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}

.footer-dark ul a {
    color:white;
    text-decoration:none;
    opacity:0.6;
}

.footer-dark div p{
    color:white;
    text-decoration:none;
    opacity:1;
}

.footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
    color: white;
}
