@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* background-color: rgb(179, 32, 32); */
}
.active {
    color: rgba(94, 255, 0, 0.842);
    text-shadow: 2px 2px 5px #000000, -2px -2px 5px #000000;
}

li, a, p, button {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

header{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 10px 2%;
}

header p{
    color: rgb(255, 255, 255);
    font-weight: 550;
}

header ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 10px 2%;
}

header ul li{
    margin-left: 20px;
    align-items: center;
}

header ul .SignUp {
    color: rgb(46, 125, 0);
    background-color: rgb(255, 255, 255);

}

header ul .profileButton {
    width: 70px;
    height: auto;
    
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 10px 5%;
    /* padding: 10px 35% 10px 5%; */
    border-bottom: 7px solid #30B82A;
}

.logo {
    cursor: pointer;
    width: 45%;
}
nav div {
    display: flex;
    flex-direction: column;
    align-items: center;


}
nav div p {
    padding: 5px 10%;
    margin: 0;
    font-weight: 600;
    font-size: 30px;
}

nav ul {
    /* display: flex; */
    /* background-color: aliceblue; */
    list-style: none;
    /* padding-right: 20%; */
    
    /* margin-right: 25%; */
}

nav ul li {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 40px;

}
nav ul li:hover {
    transform: scale(1.05);
}

nav ul li a {
    font-size: 24px;
}

button {
    font-weight: 600;
    padding: 9px 25px;
    background-color: rgba(48, 184, 42);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header ul li:hover {
    /* background-color: rgba(48, 184, 42, 0.8); */
    opacity: .5;
}

/* @media only screen and (max-width: 800px) {
    For mobile phones:
    nav ul {
        display: none;
    }
  } */