@import "Default.css";


main ul {
    flex-direction: row;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 5%;
    /* padding: 0px; */

    background: rgb(99,255,134);
    background: linear-gradient(90deg, rgba(99,255,134,1) 0%, rgba(169,255,189,1) 28%, rgba(235,255,221,1) 100%);
    /* padding: 10px 5%; */

}

main .left-section {
    position: relative;
    text-align: center;

}

.main_img {
    width: 70%;
    opacity: 20%;
    
    left: 0;
    top: 0;
}

main .right-section {
    width: 50%;
    position: relative;
    text-align: center;
    
    flex: 50%;
    padding: 0;

}

.right-section img {
    width: 70%;
    border-radius: 200px;
    
  flex: 50%;
    left: 0;
    top: 0;

    border-bottom: 14px solid #30B82A;
    border-right: 14px solid #30B82A;

    
}

.text-container {
    width: fit-content;
    /* background-color: aqua; */
    position: absolute;
    /* word-wrap: break-word; */
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-container h1 {
    font-size: 3vw;

}

.text-container p {
    font-size: 1.8vw;

}
.text-container h1, p {
    margin-bottom: 1em;

}

/* main {
    background: rgb(99,255,134);
background: linear-gradient(90deg, rgba(99,255,134,1) 0%, rgba(169,255,189,1) 28%, rgba(235,255,221,1) 100%);
} */
/* main img{
    width: 100%;
    
} */
body {
    background: rgb(99,255,134);
background: linear-gradient(90deg, rgba(99,255,134,1) 0%, rgba(169,255,189,1) 28%, rgba(235,255,221,1) 100%);
}

@media (max-width: 800px) {
    main ul {
      flex-direction: column;
    }
    main ul li {
        width: 100%;
        margin-bottom: 4em;
    }
    main .left-section {
        width: 100%;
    }
    main .right-section{
        width: 100%;

    }
    .text-container h1 {
        font-size: 4.5vw;
    
    }
    
    .text-container p {
        font-size: 3vw;
    
    }
}